@using _03_SecondHomeWorkViewModel.Entities

@model List<MercedesModel>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Model</th>
            <th scope="col" class="text-center">Class</th>
            <th scope="col" class="text-center">Year</th>
            <th scope="col" class="text-center">Volume</th>
            <th scope="col" class="text-center">Horse Power</th>
            <th scope="col" class="text-center">Price</th>
            <th scope="col" class="text-center">Discount</th>
            <th scope="col" class="">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row">@i.Id</th>
                <td><img src="@i.ImgUrl"height="50"></td>
                <td>@i.BrandOfCarName @i.Model
                @if(i.Discount>0)
                {
                        <span class="badge bg-success">SALE</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Not sale</span>
                    }
                </td>
                <td class="text-center">@i.Class</td>
                <td class="text-center">@i.Year</td>
                <td class="text-center"><b>@i.Volume L.</b></td>
                <td class="text-center">
                    @if (i.HorsePower > 100 && i.HorsePower < 200)
                    {
                        <span class="badge bg-success">@i.HorsePower hp.</span>
                    }
                    else if (i.HorsePower > 200 && i.HorsePower < 300)
                    {
                        <span class="badge bg-warning">@i.HorsePower hp.</span>
                    }
                    else if (i.HorsePower > 300)
                    {
                        <span class="badge bg-danger">@i.HorsePower hp.</span>
                    }
                </td>
                <td class="text-center">@if(i.Discount>0)
                    {
                        <del>@i.Price</del>
                        <span>@(i.Price - ((i.Price * i.Discount) / 100))₴</span>
                    }
                    else
                    {
                        <span>@i.Price₴</span>
                    }
                </td>
                <td class="text-center">
                    @if (i.Discount > 0)
                    {
                        <span class="badge bg-success">@i.Discount%</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">@i.Discount%</span>
                    }
                </td>
                <td class="">
                    <a class="btn btn-outline-secondary" asp-controller="Catalog" asp-action="Edit"
                   asp-route-id="@i.Id">
                        <i class="bi bi-info-lg"></i>
                    </a>
                </td>
                <td class="">
                    <a class="btn btn-outline-warning" asp-controller="Catalog" asp-action="Edit"
                   asp-route-id="@i.Id">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                </td>
                <td class="">
                    <a class="btn btn-outline-danger" asp-controller="Catalog" asp-action="Delete"
                asp-route-id="@i.Id">
                    <i class="bi bi-x-lg"></i></a></td>
            </tr>
            
        }
    </tbody>
</table>
<div class="catalog-table text-end">
    <a type="button" class="btn btn-primary" asp-action="Create">Add</a>
</div>

